### Given a file “cars_dataset.csv” of automobile data with the fields origin, company name, year, num-of-cylinders, displacement, mileage, horsepower,  weight and acceleration, write Python codes using Pandas to 
#### 1) Clean and Update the CSV file 
#### 2) Print total cars of all companies
#### 3) Find the average mileage of all companies

In [1]:
 import pandas as pd
file_path="cars_dataset.csv"

In [3]:
df = pd.read_csv(file_path)

In [4]:
df = df.drop_duplicates()

In [5]:
df = df.dropna()

In [6]:
miles_to_kilometers = 1.60934
gallon_to_liter = 3.78541

In [7]:
df['mileage']=(df['mileage']*miles_to_kilometers / gallon_to_liter)

In [11]:
df.to_csv('new_auto.csv', index=False)# Group the DataFrame by 'company name' and calculate the total
company_cars_count=df.groupby('company_name')['company_name'].count()

In [12]:
print("Total cars of all companies:")

Total cars of all companies:

In [13]:
print(company_cars_count)
company_average=df.groupby('company_name')['mileage'].mean()
print("Average mileage of all the companies:",company_average)

company_name
Chevrolet    24
Ford         30
Honda        19
Toyota       27
Name: company_name, dtype: int64
Average mileage of all the companies: company_name
Chevrolet    10.238857
Ford          9.990857
Honda        10.874707
Toyota       10.360889
Name: mileage, dtype: float64